<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
  <script src="https://kit.fontawesome.com/dd4fc26679.js" crossorigin="anonymous"></script>
  
  <!-- Recaptcha -->
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <script>
    function onSubmit(token) {
      document.getElementById("send_message_form").submit();
    }
  </script>
  


  <!-- Added bootstrap -->
  <link rel="stylesheet" href="../static/additional_styling/bootstrap-5.3.2-dist/css/bootstrap.min.css">
  <script src="../static/additional_styling/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>

  <link rel="icon" href="{{ url_for('bp_main.website_files', filename='logo02_whiteBck.svg') }}" type="image/x-icon">
  <title>Open Mindset</title>
</head>

<body>

    <div class="main_support">
        <!-- <div class="flash_and_main"> -->
      {% block main %}{% endblock %}
      <!-- </div> -->
    </div>

</body>
</html>