{% extends "_layout.html" %}
{% block title %}Blog{% endblock %}
{% block main %}

<!-- blog_index_01 branch is will rearrange blogpost so that
it will move around the the items:
wide screen: (left side: ) Title, (bottom)date; (right side) image/icon
small screen: left
-->

  <div class="blogpost_index_page">

    <div class="blogpost_index_page_sub ">

      <div class="col_1">
        <div class="blogpost_page_title">
          <h1>Blog</h1>
        </div>
        <div class="blogpost_page_description">
          This blog contains articles as well as links to my articles hosted elsewhere.
          If the post has an icon like <span class="span_small_icon">
            <img src="{{ url_for('bp_blog.get_blog_icons',filename='medium.png') }}">
          </span>, <span class="span_small_icon">
            <img src="{{ url_for('bp_blog.get_blog_icons',filename='stack_overflow.png') }}">
          </span>, or another then it is linked outside of this page.

        </div>
        <div class="div_blogpost_index_search">
          <input type="text" id="search-bar" class="form-input input_search_bar"
          onkeyup="filterPosts()" 
          placeholder="Search blog posts...">
        </div>
        
           
        {% for post in blog_posts_list %}

        {% if post[3][:5] != "https" %}
              <!---             -->
              <!-- Article Post -->
              <!---             -->
            
            <div class="blogpost_super">
              <div class="blogpost_a">
              <a href="{{ url_for('bp_blog.view_blogpost', post_id=post[3]) }}">
                {% include "blog/blog_home/blogpost_article.html" %}
              </a>
            </div><!-- blogpost_a-->

              <div class="blogpost_divider">
                <span class="line"></span>
              </div>

            </div><!-- blogpost_super -->

            {% else %}
              <!---          -->
              <!-- Link Post -->
              <!---          -->
              <div class="blogpost_super">
                <div class="blogpost_a">
                <a href="{{ post[3] }}">

                  {% include "blog/blog_home/blogpost_link.html" %}

                </a>
              </div><!-- blogpost_a-->

                <div class="blogpost_divider">
                  <span class="line"></span>
                </div>
              </div><!-- blogpost_super -->

      {% endif %}


      {% endfor %}

    </div><!-- col_1 -->

  </div><!-- blogpost_index_page_sub -->

</div><!-- blogpost_index_page -->


<script>
  function filterPosts() {
      let input = document.getElementById('search-bar');
      let filter = input.value.toUpperCase();
      let postsContainers = document.getElementsByClassName('blogpost_super');

      for (let i = 0; i < postsContainers.length; i++) {
          let container = postsContainers[i];
          let textContent = container.textContent || container.innerText;
          if (textContent.toUpperCase().indexOf(filter) > -1) {
              container.style.display = "";
          } else {
              container.style.display = "none";
          }
      }
  }
</script>

{% endblock %}