{% extends "_layout.html" %}
{% block title %}Blog{% endblock %}
{% block main %}

<!-- blog_index_01 branch is will rearrange blogpost so that
it will move around the the items:
wide screen: (left side: ) Title, (bottom)date; (right side) image/icon
small screen: left
-->
<!--
    This takes the blog_posts_list from the bp_blog.blog_home:
    post.0 (element 0): type_for_blogpost_home
    post.1: date
    post.2: title
    post.3: description
    post.4: blog post id (as a string)
    post.5: image_filename_for_blogpost_home
    post.6: post_dir_name
    post.7: images_dir_name
-->


  <div class="blogpost_index_page">

    <div class="blogpost_index_page_sub ">

      <div class="col_1">
        <div class="blogpost_page_title">
          <h1>Blog</h1>
        </div>
        <div class="blogpost_page_description">
          This blog contains articles as well as links to my articles hosted elsewhere.
          If the post has an icon like <span class="span_small_icon">
            <img src="{{ url_for('bp_blog.get_blog_icons',filename='medium.png') }}">
          </span>, <span class="span_small_icon">
            <img src="{{ url_for('bp_blog.get_blog_icons',filename='stack_overflow.png') }}">
          </span>, or another then it is linked outside of this page.

        </div>
        <div class="div_blogpost_index_search">
          <input type="text" id="search-bar" class="form-input input_search_bar"
          onkeyup="filterPosts()" 
          placeholder="Search blog posts...">
        </div>
        
           
        {% for post in blog_posts_list %}

        {% if post[0] == "article" %}
              <!---             -->
              <!-- Article Post -->
              <!---             -->
            
            <div class="blogpost_super">
              <div class="blogpost_a">
              <a href="{{ url_for('bp_blog.view_blogpost', post_id=post[4]) }}">
                {% include "blog/blog_home/blogpost_article.html" %}
              </a>
            </div><!-- blogpost_a-->

              <div class="blogpost_divider">
                <span class="line"></span>
              </div>

            </div><!-- blogpost_super -->

            {% else %}
              <!---          -->
              <!-- Link Post -->
              <!---          -->
              <div class="blogpost_super">
                <div class="blogpost_a">
                <a href="{{ post[4] }}">

                  {% include "blog/blog_home/blogpost_link.html" %}

                </a>
              </div><!-- blogpost_a-->

                <div class="blogpost_divider">
                  <span class="line"></span>
                </div>
              </div><!-- blogpost_super -->

      {% endif %}


      {% endfor %}

      <div class="pagination_controls">
        <button onclick="changePage(-1)">Prev</button>
        <span id="page_info"></span>
        <button onclick="changePage(1)">Next</button>
      </div>   

    </div><!-- col_1 -->

  </div><!-- blogpost_index_page_sub -->

</div><!-- blogpost_index_page -->


<script>
  function filterPosts() {
      let input = document.getElementById('search-bar');
      let filter = input.value.toUpperCase();
      let postsContainers = document.getElementsByClassName('blogpost_super');

      for (let i = 0; i < postsContainers.length; i++) {
          let container = postsContainers[i];
          let textContent = container.textContent || container.innerText;
          if (textContent.toUpperCase().indexOf(filter) > -1) {
              container.style.display = "";
          } else {
              container.style.display = "none";
          }
      }
  }

  let currentPage = 1;
  let postsPerPage = 10;
  
  window.onload = function() {
    displayPosts();
  };
  
  function displayPosts() {
    const posts = Array.from(document.getElementsByClassName('blogpost_super'));
    const totalPages = Math.ceil(posts.length / postsPerPage);
  
    // Hide all posts initially
    posts.forEach(post => post.style.display = 'none');
    
    // Calculate index range for current page
    let start = (currentPage - 1) * postsPerPage;
    let end = start + postsPerPage;
    
    // Show posts for the current page
    posts.slice(start, end).forEach(post => post.style.display = '');
  
    // Update page info
    document.getElementById('page_info').innerText = `Page ${currentPage} of ${totalPages}`;
    
    // Optionally disable navigation buttons
    document.querySelector('.pagination_controls button:nth-child(1)').disabled = currentPage === 1;
    document.querySelector('.pagination_controls button:nth-child(3)').disabled = currentPage === totalPages;
  }
  
  function changePage(direction) {
    currentPage += direction;
    displayPosts();
  }
  

</script>

{% endblock %}