{% extends "_layout.html" %}
{% block title %} Post to Blog {% endblock %}
{% block main %}
<form method="POST" id="form_create_post" enctype=multipart/form-data></form>

<div class="space_for_navbar_and_footer">

<div class="create_post_super">
  <div class="create_post">

    <h2>Upload/Create Blog Post</h2>

    <div class="a_div_right">
      <a href="{{ url_for('bp_blog.manage_blogposts') }}" > Blog User Home </a>
    </div>
    <div class="create_post_framing">
      <div class="create_post_content">





        <!-- new_method = origin_from_word -->
        <!-- <div id="new_method" class="new_method"> -->
        <div id="origin_from_word_id" class="origin_from_word_div">
          <div class="description_text_super">
            <div class="description_text">
              Zipped file with index.html<br>
              This process assumes you have:
              <ul>
                <li>started with a Word (.docx) file then converted to webpage(.filtered)</li>
                <li>name the formerly .docx file index (i.e. index.html)</li>
                <li>Then zip/compress the index.html and the .fld directory together.</li>
                <li>If you wish to embed another template you'll need to enter it manually with the double curly's include
                  "template_name"
                  close double curly's.</li>
              </ul>


            </div><!--description_text-->

          </div><!-- description_text_super -->

          <div id="new_method_inputs">

            <div class="new_method_input_file">
              Upload zipped/compressed folder (former Word document):
              <!-- <input class="form-control" type="file" form="form_create_post" name="new_method" accept=".zip"
                placeholder=".html"> -->
              <input class="form-control" type="file" form="form_create_post" name="zip_file_origin_word" accept=".zip"
                placeholder=".html">

            </div><!-- blog_form_input_div -->


          </div><!-- new_method_inputs -->

        </div><!-- new_method -->



        <div class="blog_form_bottom_buttons_and_progress">

          <div class="button_div_right">
            <input onclick="update()" type="submit" value="Upload" class="btn btn-primary btn_custom"
              form="form_create_post">
          </div>

          <div class="progress_div">
            Upload Progress Bar
            <div class="Progress_Status" id="Progress_Status">
              <div class="progress-bar progress-bar-striped" id="myprogressBar" role="progressbar"></div>
            </div><!-- Progress_Status -->
          </div><!-- progress_div -->

        </div><!-- blog_form_bottom_buttons_and_progress -->




      </div><!-- create_post_content (child of flex)-->
    </div><!-- create_post_framing (flex)-->



    <script>

      function update() {
        var element = document.getElementById("myprogressBar");
        var width = 10;
        var identity = setInterval(scene, 10);
        function scene() {
          if (width >= 100) {
            clearInterval(identity);
          } else {
            width++;
            element.style.width = width + '%';
          }
        }
      }
    </script>


  </div><!-- create_post (child of flex)-->
</div><!-- create_post_super (flex)-->

</div><!-- space_for_navbar_and_footer -->
{% endblock %}