{% extends "_layout.html" %}
{% block title %}Blog{% endblock %}
{% block main %}



  <div class="blogpost_index_page">

    <div class="blogpost_index_page_sub ">
      <div class="blogpost_page_title"><h2>Blog Posts</h2></div>
      <div class="col_1">
           
        {% for post in blog_posts_list %}

        {% if post[3][:5] != "https" %}
              <!---             -->
              <!-- Article Post -->
              <!---             -->
            
            <div class="blogpost_super">
              <a href="{{ url_for('bp_blog.view_post', post_dir_name=post[3]) }}">
                <div class="blogpost">
                  <div class="top_row">
                    <div class="blogpost_title">
                      {{ post.1 }}
                    </div>
                    <div class="blogpost_date">
                      {{ post[0] }}
                    </div>
                  </div>

                  <div class="bottom_row">
                    <div class="blogpost_description">
                      {{ post.2 }}
                    </div>
                    <div class="bottom_row_right">
                      <div class="blogpost_image">
                        
                        <!-- <img src="/Users/nick/Documents/_databases/personalWebsite02/auxilary/blog/posts/0001_post/index/image001.png"> -->
                        <img class="" src="{{ url_for('bp_blog.get_post_files', post_dir_name=post.5,img_dir_name=post.6,filename=post.4) }}"/>
                        
                      </div>
                      <!-- <div class="blogpost_tags">
                        #coding #python
                      </div> -->
                    </div><!-- bottom_row_right-->
                  </div><!-- bottom_row-->

                </div><!-- blogpost -->
              </a>
            </div><!-- blogpost_super -->
            {% else %}
              <!---          -->
              <!-- Link Post -->
              <!---          -->
              <div class="blogpost_super">
                <a href="{{ post[3] }}">
                  <div class="blogpost">
                    <div class="top_row">
                      <div class="blogpost_title">
                        {{ post.1 }}
                      </div>
                      <div class="blogpost_date">
                        {{ post[0] }}
                      </div>

                    </div>
                    <div class="bottom_row">

                      <div class="blogpost_description">
                        {% if post.5 not in [None,""] %}
                        {{ post.5 }}
                        {% endif %}
                      </div>


                      <div class="bottom_row_right">

                        <div class="blogpost_image">
                          <img src="{{ post.4 }}">
                        </div>

                        <div class="blogpost_tags">
                          #coding #python
                        </div>
                      </div><!-- bottom_row_right-->

                    </div><!-- bottom_row -->

                  </div><!-- blogpost -->
                </a>
              </div><!-- blogpost_super -->



      {% endif %}
      <!-- <div class="blogpost_divder_super"> -->
        <div class="blogpost_divder">
          <span class="line"></span>
          

      </div>
      <!-- </div> -->


      {% endfor %}

    </div><!-- col_1 -->

  </div><!-- blogpost_index_page_sub -->


</div><!-- blogpost_index_page -->

{% endblock %}