@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.navbar_top {
  background-color: #333;
  color: white;
}

#hamburger {
  font-size: 24px;
  cursor: pointer;
}

.div_hamburger {
  padding: 0.5rem 0 0.5rem 2rem;
}
.div_hamburger button {
  background-color: transparent;
  border: none;
  size: 1.5rem;
}

#navbar_side {
  z-index: 2; /* Ensures sidebar is above the overlay */
}

.navbar_side a {
  color: #bababa;
}

.navbar_side a:hover {
  background-color: var(--color-blue);
  border-radius: 2rem;
}

.navbar_side_hidden {
  width: var(--nav-width);
  height: 100%;
  position: fixed;
  top: 0;
  left: calc(var(--nav-width) * -1);
  height: 100vh;
  background: var(--color-dark);
  transition: all 0.5s ease;
}

.navbar_side_wide {
  display: none;
}

/* Shown styles for the side navbar */
.navbar_side_visible {
  left: 0;
}

/* Styling for the links in your side navbar */
.navbar_side_hidden a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.div_logo {
  width: 100%;
  padding: 4rem 0 1rem 3rem;
}
.div_logo img {
  width: 10rem;
}

.navbar_list ul li i {
  padding-right: 1rem;
}

#overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Ensures it's above other content but below the sidebar */
}

/* Overlay Visible */
#overlay.visible {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar_top {
    display: none;
  }
  .navbar_side_hidden {
    display: none;
  }
  .navbar_side_wide {
    display: block;
    flex-grow: 0; /* Don’t grow beyond initial size */
    flex-shrink: 0; /* Don’t shrink below initial size */
    width: var(--nav-width); /* Or whatever width you desire */
    min-height: 100vh;
    background: var(--color-dark);
  }
  .navbar_side_wide a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
  }
}
/* Button with hover text */
.btn_custom02 {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--color-light-blue-button);
  border: none;
  color: var(--color-gray-text);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  text-decoration: none;
  position: relative;
}

.btn_custom02:hover {
  cursor: pointer;
}

.popup-text {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border-radius: 4px;
  white-space: nowrap; /* Prevents wrapping */
  opacity: 0;
  pointer-events: none; /* Prevents it from interfering with clicks */
  transition: opacity 0.3s, transform 0.3s;
  transform-origin: bottom center;
  margin-bottom: 5px; /* Gap between popup and button */
}

.btn_custom02:hover .popup-text {
  opacity: 1;
  transform: translateX(-50%) translateY(-5px); /* Adds a small upward animation */
}

/* Button PDF - Chat gpt */
.download-button {
  display: inline-block;
  background-color: gray;
  color: white;
  font-size: 16px;
  padding: 12px 40px; /* Adjusts the size of the button */
  border-radius: 8px; /* Rounded corners */
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow to give a 3D effect */
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for click effect */
}

/* When button is hovered */
.download-button:hover {
  background-color: darkgray; /* Slightly darker shade for hover */
}

/* When button is active (clicked) */
.download-button:active {
  transform: translateY(2px); /* Pushes the button slightly downwards */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Reduces the shadow size for a pressed effect */
}

/* Button PDF */
.btn_pdf {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--color-light-blue-button);
  border: #333 solid;
  color: var(--color-gray-text);
}

.btn_pdf:active {
  background-color: var(--color-gray04);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(2px);
}

.btn_pdf:hover {
  cursor: pointer;
}

/* Button OBE */
.btn_custom01 {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--color-light-blue-button);
  border: none;
  color: var(--color-gray-text);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  text-decoration: none;
}

.btn_custom01:active {
  background-color: var(--color-gray04);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(2px);
}

.btn_custom01:hover {
  cursor: pointer;
}

.icon-color {
  color: var(--color-yellow);
}

.hide_small {
  display: none;
}

.big_hide {
  color: var(--color-gray-text);
}

@media screen and (min-width: 768px) {
  .hide_small {
    display: initial;
  }
  .big_hide {
    display: none;
  }
}
/* Login Page */
.login_page {
  width: 100%;
  display: flex;
  justify-content: center;
}
.login_page .col_1 {
  padding-top: 5rem;
}
.login_page .title {
  width: 100%;
}
.login_page .login_form {
  border-radius: 1.5em;
  padding: 3rem;
  width: calc(100% - 0.5rem);
  font-size: 1.5em;
  background-color: var(--color-gray03);
  display: flex;
  justify-content: center;
}
.login_page .login_form .login_form_sub {
  width: calc(100% - 1rem);
}
.login_page .login_form .email_form input,
.login_page .login_form .password_form input {
  width: 100%;
}
.login_page .login_form .element_right {
  float: right;
  padding-bottom: 2rem;
}
.login_page .login_form .show_password {
  padding: 1rem 1rem;
}
.login_page .login_form .element_right_sub {
  float: right;
}
.login_page .login_form .forgot_password {
  font-size: 1rem;
  padding-bottom: 3rem;
}

/* Register Page */
.register_page {
  width: 100%;
  display: flex;
  justify-content: center;
}
.register_page .col_1 {
  padding-top: 5rem;
}
.register_page .title {
  width: 100%;
}
.register_page .register_form {
  border-radius: 1.5em;
  padding: 3rem;
  width: calc(100% - 0.5rem);
  font-size: 1.5em;
  background-color: var(--color-gray03);
  display: flex;
  justify-content: center;
}
.register_page .register_form_sub {
  width: calc(100% - 1rem);
}
.register_page .register_text {
  width: 100%;
}
.register_page .submit_form_group {
  float: right;
  padding: 1rem 1rem 0 0;
}
.register_page .element_right {
  float: right;
}

.input-bootstrap {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
}

.input-bootstrap:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Flash */
.flash_custom_parent {
  width: 100%;
}
.flash_custom_parent .alert_custom {
  width: 100%;
}
.flash_custom_parent .alert_custom .close_right {
  float: right;
  margin-top: -2rem;
}
.flash_custom_parent .keep_line_break {
  white-space: pre-line;
}

/* Base alert class */
.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  position: relative;
  box-sizing: border-box;
}

/* Different alert types */
.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;
}

.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}

/* Optional: For closable alerts */
.close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  color: inherit;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.close:hover {
  color: #000;
  text-decoration: none;
}

:root {
  --nav-height: 123px;
  --nav-width: 300px;
  --color-dark: #000814;
  --color-blue-dark: #001D3D;
  --color-blue: #3C3C5B;
  --color-yellow: #FFC300;
  --color-white: #FFFFFF;
  --color-light-blue-button: #565481;
  --color-gray01-light: #d1d1d1;
  --color-gray02: #bfbfbf;
  --color-gray03: #a0a0a0;
  --color-gray04: #808080;
  --color-gray-text:var(--color-gray01-light);
  --color_gray_test_01:#898989;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--color-blue);
}

body, html {
  height: 100%;
  margin: 0;
}

.flex_center {
  display: flex;
  justify-content: center;
}

.main_super {
  flex-grow: 1; /* Grow and take up any extra space */
  flex-shrink: 1; /* Can shrink if needed */
  padding: 0.5rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.flash_and_main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.home_page {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.home_page .col_1, .home_page .col_2 {
  display: flex;
  justify-content: center;
  color: var(--color-gray-text);
  width: 100%;
}
.home_page .col_1_sub {
  width: 80%;
  height: fit-content;
}
.home_page .s_text_color_yellow {
  color: var(--color-yellow);
}
.home_page .div_hi_big {
  width: 100%;
}
.home_page .div_welcome {
  width: 100%;
  color: var(--color_gray_test_01);
}
.home_page .paragraph_home_super {
  padding-top: 5rem;
}
.home_page .paragraph_home {
  padding: 0.5rem 0;
}
.home_page .div_email {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.home_page .hr_or_hr {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}
.home_page .hr_or_hr .line {
  background-color: var(--color-gray02); /* Line color */
  height: 1px; /* Line thickness */
  flex-grow: 1;
}
.home_page .hr_or_hr .or {
  padding: 0 10px;
  white-space: nowrap;
}
.home_page .other_contact {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.about_page {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.about_page .col_1, .about_page .col_2 {
  display: flex;
  justify-content: center;
  color: var(--color-gray-text);
  width: 100%;
}
.about_page .col_1_sub, .about_page .col_2_sub {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: fit-content;
  justify-content: center;
}
.about_page .div_image_of_me {
  width: 100%;
  justify-content: center;
  display: flex;
}
.about_page .img_montmarte {
  width: 60%;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}
.about_page .other_contact {
  padding: 3rem 0;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.about_page .s_text_color_yellow {
  color: var(--color-yellow);
}
.about_page .div_hi_big {
  width: 100%;
}
.about_page .paragraph_home_super {
  padding-top: 5rem;
}
.about_page .paragraph_home {
  padding: 0.5rem 0;
}

.resume_page {
  color: var(--color-gray-text);
}
.resume_page .div_name {
  display: flex;
  color: var(--color-gray04);
}
.resume_page .div_name h1 {
  padding-right: 3rem;
}
.resume_page .div_skills {
  background-color: var(--color-gray04);
  border-radius: 0.3rem;
  padding: 0.5rem;
}
.resume_page .s_text_color_yellow {
  color: rgb(54, 54, 54);
}
.resume_page .div_contact_detail_item {
  display: flex;
  align-items: center;
}
.resume_page .div_contact_detail_item a {
  text-decoration: none;
  color: var(--color-gray-text);
}
.resume_page .div_contact_detail_item a:hover {
  color: var(--color-dark);
  background-color: #d1d1d1;
  border-radius: 3rem;
  padding: 0.25rem 0.5rem;
}
.resume_page .div_contact_detail_item a:hover i {
  transform: scale(1.5); /* Increase the size by 20% on hover */
}
.resume_page .div_contact_detail_item_text {
  padding-left: 0.75rem;
  white-space: nowrap;
}
.resume_page .div_projects a {
  color: var(--color-gray04);
}
.resume_page .div_project {
  padding: 1rem 0;
}
.resume_page .title a {
  text-decoration: none;
  color: var(--color-yellow);
}
.resume_page .div_project_other_details a {
  text-decoration: none;
}
.resume_page .div_experience {
  padding: 1rem 0;
}
.resume_page .company_title {
  font-size: larger;
}

.about_this_page {
  display: flex;
  justify-content: center;
  color: var(--color-gray-text);
}
.about_this_page .col_1 {
  width: 80%;
  padding-top: 10rem;
}
.about_this_page .div_hi_big {
  width: 100%;
  display: flex;
  justify-content: center;
}
.about_this_page .paragraph_home a {
  color: var(--color-gray-text);
}

@media screen and (min-width: 768px) {
  .div_fixed_nav_and_main {
    display: flex;
  }
  .home_page, .about_page {
    justify-content: space-between;
    flex: 1;
    flex-wrap: nowrap;
  }
  .home_page .col_1, .home_page .col_2, .about_page .col_1, .about_page .col_2 {
    flex: 1;
    align-items: center;
  }
  .resume_page {
    max-width: 70rem;
  }
  .resume_page .div_top_personal_info {
    display: flex;
    gap: 1rem;
  }
  .resume_page .div_company_title_dates, .resume_page .div_education_sub {
    display: flex;
    justify-content: space-between;
  }
  .resume_page .div_education {
    padding-bottom: 5rem;
  }
}

/*# sourceMappingURL=main.css.map */
