@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.navbar_top {
  background-color: #333;
  color: white;
}

#hamburger {
  font-size: 24px;
  cursor: pointer;
}

.div_hamburger {
  padding: 0.5rem 0 0.5rem 2rem;
}
.div_hamburger button {
  background-color: transparent;
  border: none;
  size: 1.5rem;
}

#navbar_side {
  z-index: 2; /* Ensures sidebar is above the overlay */
}

.navbar_side a {
  color: #bababa;
}

.navbar_side a:hover {
  background-color: var(--color-blue);
  border-radius: 2rem;
}

.navbar_side_hidden {
  width: var(--nav-width);
  height: 100%;
  position: fixed;
  top: 0;
  left: calc(var(--nav-width) * -1);
  height: 100vh;
  background: var(--color-dark);
  transition: all 0.5s ease;
}

.navbar_side_wide {
  display: none;
}

/* Shown styles for the side navbar */
.navbar_side_visible {
  left: 0;
}

/* Styling for the links in your side navbar */
.navbar_side_hidden a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.div_logo {
  width: 100%;
  padding: 4rem 0 1rem 3rem;
}
.div_logo img {
  width: 10rem;
}

.navbar_list ul li i {
  padding-right: 1rem;
}

#overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Ensures it's above other content but below the sidebar */
}

/* Overlay Visible */
#overlay.visible {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar_top {
    display: none;
  }
  .navbar_side_hidden {
    display: none;
  }
  .navbar_side_wide {
    display: block;
    flex-grow: 0; /* Don’t grow beyond initial size */
    flex-shrink: 0; /* Don’t shrink below initial size */
    width: var(--nav-width); /* Or whatever width you desire */
    height: 100vh;
    background: var(--color-dark);
  }
  .navbar_side_wide a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
  }
}
:root {
  --nav-height: 123px;
  --nav-width: 300px;
  --color-dark: #000814;
  --color-blue-dark: #001D3D;
  --color-blue: #3C3C5B;
  --color-yellow: #FFC300;
  --color-white: #FFFFFF;
  --color-light-blue-button: #565481;
  --color-gray01-light: #d1d1d1;
  --color-gray02: #bfbfbf;
  --color-gray03: #a0a0a0;
  --color-gray04: #808080;
  --color-gray-text:var(--color-gray01-light);
  --color_gray_test_01:#898989;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--color-blue);
}

.main {
  height: 100vh;
}

.pages_page {
  background-color: orange;
  height: 100%;
}

.btn_custom {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--color-light-blue-button);
  border: none;
  color: var(--color-gray-text);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  text-decoration: none;
}

.btn_custom:active {
  background-color: var(--color-gray04);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(2px);
}

.btn_custom:hover {
  cursor: pointer;
}

.icon-color {
  color: var(--color-yellow);
}

.main_super {
  flex-grow: 1; /* Grow and take up any extra space */
  flex-shrink: 1; /* Can shrink if needed */
  padding: 0.5rem;
  display: flex;
  width: 100%;
}

.home_page {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.home_page .col_1, .home_page .col_2 {
  display: flex;
  justify-content: center;
  color: var(--color-gray-text);
  width: 100%;
}
.home_page .col_1_sub {
  width: 80%;
  height: fit-content;
}
.home_page .s_text_color_yellow {
  color: var(--color-yellow);
}
.home_page .div_hi_big {
  width: 100%;
}
.home_page .div_welcome {
  width: 100%;
  color: var(--color_gray_test_01);
}
.home_page .paragraph_home_super {
  padding-top: 5rem;
}
.home_page .paragraph_home {
  padding: 0.5rem 0;
}
.home_page .div_email {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.home_page .hr_or_hr {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}
.home_page .hr_or_hr .line {
  background-color: var(--color-gray02); /* Line color */
  height: 1px; /* Line thickness */
  flex-grow: 1;
}
.home_page .hr_or_hr .or {
  padding: 0 10px;
  white-space: nowrap;
}
.home_page .other_contact {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.about_page {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.about_page .col_1, .about_page .col_2 {
  display: flex;
  justify-content: center;
  color: var(--color-gray-text);
  width: 100%;
}
.about_page .col_1_sub {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: fit-content;
  justify-content: center;
  background-color: var(--color_gray_test_01);
}
.about_page .div_image_of_me {
  background-color: var(--color_gray_test_01);
  width: 100%;
  justify-content: center;
  display: flex;
}
.about_page .img_montmarte {
  width: 60%;
}
.about_page .other_contact {
  padding: 3rem 0;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .div_fixed_nav_and_main {
    display: flex;
    height: 100vh; /* Optional: Takes the full height of the viewport */
  }
  .home_page, .about_page {
    justify-content: space-between;
    flex: 1;
    flex-wrap: nowrap;
  }
  .home_page .col_1, .home_page .col_2, .about_page .col_1, .about_page .col_2 {
    flex: 1;
    align-items: center;
  }
}

/*# sourceMappingURL=main.css.map */
