{% extends "_layout.html" %}
{% block main %}
<div class="main_super">

    <div class="about_this_page">

        <div class="col_1">
            <!-- <div class="col_1_sub"> -->
                <div class="div_hi_big">
                    <h1>About this page</h1>
                </div>
                <div class="paragraph_home">
                    This page was designed by <a href="https://hub.stratisdermanoutsos.com/">Stratis</a>.

                    I found his work on <a href="https://www.figma.com/community/file/1275022676306773824">Figma</a> and found this design easy to follow and the first impression 
                    I had was "this guy is a really good programmer".
                    <br><br>
                    I hope my rendering does his design justice and my audience feels the same way as I did when I saw his work.
                    <br><br>
                    He was kind enough to let me use his design, so I really want to thank him 🙏!
                </div>



            <!-- </div>col_1_sub -->
        </div><!-- col_1 -->


    </div>
</div><!-- main_super -->

{% endblock %}