{% extends "_layout.html" %}
{% block main %}
<div class="main_super">

    <div class="about_this_page">

        <div class="col_1">
            <!-- <div class="col_1_sub"> -->
                <div class="div_hi_big">
                    <h1>About this page</h1>
                </div>
                <div class="paragraph_home">
                    This <a href="https://www.figma.com/community/file/1275022676306773824">website design</a> was created by <a href="https://hub.stratisdermanoutsos.com/">Stratis</a>.
                    I found it intuitive to follow and it spoke to me that the creator of this design is a good programmer 🧑‍💻.

                    <br><br>
                    Thank you Stratis 🙏!
                </div>



            <!-- </div>col_1_sub -->
        </div><!-- col_1 -->


    </div>
</div><!-- main_super -->

{% endblock %}