{% extends "_layout.html" %}
{% block main %}
<div class="main_super">

    <div class="about_page">

        <div class="col_1">
            <div class="col_1_sub">

                <div class="div_image_of_me">
                    <img class="img_montmarte" src="{{ url_for('bp_main.website_files', filename='montmartre2021.jpg')}}"/>
                </div>
                <div class="other_contact">
                    <a href="https://www.linkedin.com/in/nick-rodriguez-0a31a133" class="btn_custom02">
                        <span class="popup-text">LinkedIn</span>
                        <i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.upwork.com/freelancers/~01dc51f3dc9d27380e" class="btn_custom02">
                        <span class="popup-text">Upwork</span>
                        Upwork</a>
                    <a href="https://stackoverflow.com/users/11925053/costa-rica" class="btn_custom02">
                        <span class="popup-text">Stack Overflow</span>
                        <i class="fa-brands fa-stack-overflow"></i></a>

                    <a href="https://twitter.com/EvryMnRodriguez" class="btn_custom02">
                        <span class="popup-text">Twitter</span>
                        <i class="fa-brands fa-square-x-twitter"></i></a>
                    <a href="https://github.com/costa-rica" class="btn_custom02">
                        <span class="popup-text">Github</span>
                        <i class="fa-brands fa-github"></i></a>
                    <a href="https://medium.com/@nrodrig1" class="btn_custom02">
                        <span class="popup-text">Medium</span>
                        <i class="fa-brands fa-medium"></i></a>
                    <a href="https://www.figma.com/files/user/1177621494296272586?fuid=1177621494296272586" class="btn_custom02">
                        <span class="popup-text">Figma</span>
                        <i class="fa-brands fa-figma"></i>
                    </a>


                </div>
                
            </div><!-- col_1_sub -->
        </div><!-- col_1 -->

        <div class="col_2">
            <div class="col_2_sub">

                    <div class="div_hi_big">
                        <h1>About me</h1>
                    </div>
                    <div class="paragraph_home_super">
                        <div class="paragraph_home">I’m a  <span class="s_text_color_yellow">Problem Solver</span> 
                            that can build software.</div>
                        <div class="paragraph_home">
                            An economist for 15 years.
                        </div>
                        <div class="paragraph_home">
                            One Saturday morning in April 2019 it took all my patience and concentration to learn and set up my computer so that I could run a Python program. Today my patience and concentration are on another stratosphere.
                        </div>
                        <div class="paragraph_home">
                            In my spare time I play guitar, learn French and read. 
                        </div>
                    </div><!-- paragraph_home_super -->

            </div><!-- col_2_sub -->
        </div><!-- col_2 -->


    </div>
</div><!-- main_super -->

{% endblock %}