{% extends "_layout.html" %}
{% block main %}
<div class="main_super">

    <div class="about_page">

        <div class="col_1">
            <div class="col_1_sub">
                This is the about page
                <div class="div_image_of_me">
                    <img class="img_montmarte" src="{{ url_for('bp_main.website_files', filename='montmartre2021.jpg')}}"/>
                </div>
                <div class="other_contact">
                    <a href="https://www.linkedin.com/in/nick-rodriguez-0a31a133" class="btn btn_custom"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.upwork.com/freelancers/~01dc51f3dc9d27380e" class="btn btn_custom">Upwork</a>
                    <a href="https://stackoverflow.com/users/11925053/costa-rica" class="btn btn_custom"><i class="fa-brands fa-stack-overflow"></i></a>

                    <a href="https://twitter.com/EvryMnRodriguez" class="btn btn_custom"><i class="fa-brands fa-square-x-twitter"></i></a>
                    <a href="https://github.com/costa-rica" class="btn btn_custom"><i class="fa-brands fa-github"></i></a>
                    <a href="https://medium.com/@nrodrig1" class="btn btn_custom"><i class="fa-brands fa-medium"></i></a>
                </div>
                
            </div><!-- col_1_sub -->
        </div><!-- col_1 -->

        <div class="col_2">
            <div class="col_2_sub">
                This is the about page COLUMn 2
            </div><!-- col_2_sub -->
        </div><!-- col_2 -->


    </div>
</div><!-- main_super -->

{% endblock %}