{% extends "_layout.html" %}
{% block main %}
<div class="main_super">

    <div class="home_page">
        <div id="col_1_hi">

            <div class="div_hi_big">
                <h1>Hi, I'm <span class="s_text_color_yellow">Nick</span></h1>
            </div>
            <div class="div_welcome">
                <span>Welcome to my website</span>
            </div>
    
        </div><!-- col_1_hi -->
    
        <div id="col_2_hire">
            <span class="s_hi_big">
                <h1>Want to hire me?</h1>
            </span>
        </div><!-- col_2_hire -->

    </div><!-- home_page-->


</div><!-- main_super -->



{% endblock %}