{% extends "_layout.html" %}
{% block main %}
<div class="main_super">

    <div class="home_page">

        <div class="col_1">
            <div class="col_1_sub">
                <div class="div_hi_big">
                    <h1>Hi, I'm <span class="s_text_color_yellow">Nick</span></h1>
                </div>
                <div class="div_welcome">
                    <span>Welcome :)</span>
                </div>
                <div class="paragraph_home_super">
                    <div class="paragraph_home">I am a 
                        <span class="s_text_color_yellow">Software Developer</span>.
                    </div>
                    <div class="paragraph_home">
                        My passion is using technology to make this world a better place.
                    </div>

                </div><!-- paragraph_home_super -->

            </div><!-- col_1_sub -->

        </div><!-- col_1 -->

        {% if recent_activities %}
        <div class="col_recent_activities">
            <div class="recent_activities_container">
                <h2 class="recent_activities_title">What I've Been Up To Lately</h2>
                <div class="recent_activities_content">
                    {{ recent_activities }}
                </div>

                {% if project_time_data %}
                <div class="terminal_table_container">
                    <pre class="terminal_table">+----------------------------------+---------------------+
| Project                          | Last 7 Days (hours) |
+----------------------------------+---------------------+
{% for project in project_time_data %}| {{ (project.name[:32]).ljust(32) }} | {{ ("%0.1f" % project.hours).rjust(19) }} |
{% endfor %}+----------------------------------+---------------------+</pre>
                </div>
                {% endif %}
            </div>
        </div><!-- col_recent_activities -->
        {% endif %}

        <div class="col_2">
            <div class="col_2_sub">
                <span class="s_hi_big">
                    <h1>Connect with me</h1>
                </span>
                <div class="div_email">
                    <button id="emailButton" class="btn_custom02">
                        <span class="popup-text">nrodrig1@gmail.com</span>
                        <i class="fa-solid fa-envelope icon-color"></i> Email</button>
                </div>
                <div class="hr_or_hr">
                    <span class="line"></span>
                    <span class="or">or</span>
                    <span class="line"></span>
                </div>

                <div class="other_contact">
                    <a href="https://www.linkedin.com/in/nick-rodriguez-0a31a133" class="btn_custom02">
                        <span class="popup-text">LinkedIn</span>
                        <i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://twitter.com/EvryMnRodriguez" class="btn_custom02">
                            <span class="popup-text">Twitter</span>
                            <i class="fa-brands fa-square-x-twitter"></i></a>
                        <a href="https://github.com/costa-rica" class="btn_custom02">
                            <span class="popup-text">Github</span>
                            <i class="fa-brands fa-github"></i></a>
                        <a href="https://medium.com/@nrodrig1" class="btn_custom02">
                            <span class="popup-text">Medium</span>
                            <i class="fa-brands fa-medium"></i></a>
                </div>

            </div><!-- col_2_sub -->

        </div><!-- col_2 -->

    </div><!-- home_page-->
    <script>
        document.getElementById('emailButton').addEventListener('click', function () {
            var subject = "Hi Nick, I'm interested in working with you"
            window.location.href = "mailto:nrodrig1@gmail.com?subject=" + encodeURIComponent(subject);
        });
    </script>
</div><!-- main_super -->



{% endblock %}