<!--
    This takes the blog_posts_list from the bp_blog.blog_home:
    post.0 (element 0): type_for_blogpost_home
    post.1: date
    post.2: title
    post.3: description
    post.4: blog post id (as a string)
    post.5: image_filename_for_blogpost_home
    post.6: post_dir_name
    post.7: flag_use_image_from_blogpost_in_blog_home
-->


<div class="blogpost">

    <div class="left_side">
      <div class="blogpost_title">
        {{ post.2 }}
      </div>
      
      {% if post.3 not in ["", None] %}
      <div class="blogpost_description">
        {{ post.3 }}
      </div>
      {% endif %}
    </div><!-- left_side-->

    <div class="right_side">
      <div class="blogpost_date">
        {{ post[1] }}
      </div>
    <div class="blogpost_image_super">

      <!-- The image comes from a different location depending on whether it is an image from the article or logo icon -->
      <div class="blogpost_image">
        {% if post.5 %}<!-- is there an image assinged to the image_filename_for_blogpost_home? -->
          {% if post.7 %}<!-- is an image from the blogpost used as the image in the ? -->
          <img class="" src="{{ url_for('bp_blog.get_post_files', post_dir_name=post.6,filename=post.5) }}"/>
          {% else %}
          <img src="{{ url_for('bp_blog.get_blog_icons',filename=post.5) }}">
          {% endif %}
        {% endif %}
      </div>
    </div>

    </div><!-- right_side -->
    
  </div><!-- blogpost -->