{% extends "_layout.html" %}


{% block main %}

<div class="admin_page" >
    <div class="container">

        <form method="POST" action="" enctype="multipart/form-data">

            <div>
                <h2>Users</h2>
                {% for i,j in users_list.items() %}
                <ul class="ul_no_bullets">
                    {% if j=='add privilege' %}
                    <li >{{ i +'(' + j +')'}}</li>

                    {% else %}
                    <li >{{ i }} <a class="remove-image"  href="{{ url_for('bp_admin.delete_user', email=i) }}" 
                        style="display: inline;">&#215;</a></li>

                    {% endif %}
                </ul>
                {% endfor %}
            </div>


            <br/>
            <div>
                Add user: <input type="text" class="wider_input_login" name="add_user" >
                <input type="checkbox" name="add_privilege" value="True"> Allow Add Privilege
            </div>

            <br/>
            <button type="submit" class="btn btn-primary ml-3" name="confirm_selection" value=True>Confirm</button>
        <br/>
        <br/>
        <i>

        Note: This does not register a user or email it only allows an email to access the application. Once an email is
         added to this list the email will be allowed to register through the normal process of clicking 'Register'.
        </i>
        
        </form>

    </div>
  </div>
{% endblock %}