/* View Post */
.view_post_page {
    display: flex;
    justify-content: center;
    padding: 3rem 0 0 0;
    width: 100%;

    .view_post {
        width: calc(100% - 2rem);
        // img{border: 1px solid black;}
        color: var(--color-gray-text);

        h1 {
            color: var(--color-yellow)
        };

        h2 {
            color: var(--color-yellow)
        };

        a {
            color: var(--website_theme_font_color_a_dark);
        }

        a:hover {
            color: var(--website_theme_fun_color);
        }

        // center all images in post
        .MsoNormal {
            span {
                img {
                    text-align: center;
                    width: 100%;
                    height: auto;
                }
            }
        }

        .MsoCaption {
            color: var(--color-gray-text);
        }
    }

    .post {
        padding: 2rem 0 0 0;
    }

    .div_right {
        display: flex;
        justify-content: end;
    }
}

/* Create Post*/
// .create_post_super {
.create_post_page {

    // padding: var(--nav-height) 0 60px 30px;
    // display:flex;
    // justify-content: center;
    // color: var(--website_theme_font_color_dark);
    a {
        color: var(--website_theme_font_color_a_dark);
    }

    a:hover {
        color: var(--website_theme_fun_color);
    }

    display: flex;
    // gap:1rem;
    // flex-wrap: wrap;
    // background-color: #ddd;
    justify-content: center;
    width:100%;

    .col_1 {
        display: flex;
        justify-content: center;
        // flex-wrap: wrap;
        color: var(--color-gray-text);
        width: 100%;
        max-width: calc(100% - 5rem);
        // background-color: #4CAF50;
    }

    .col_1_sub {
        width: 100%;
    }

    .create_post_card {
        display: flex;
        justify-content: center;
        width: 100%;
        border: 1px solid;
        border-radius: 10px;
        background-color: var(--bs-gray-500);
        color: var(--color-dark-gray-text);
    }

    .a_div_right {
        display: flex;
        justify-content: end;
        padding: 0 5rem 0 0;
    }

    .create_post_content {
        padding: 2rem;
        width: 100%;
    }

    .description_text_super {
        display: flex;
        justify-content: center;
        padding: 0 0 1rem 0;
    }

    .post_article_input_file {
        padding: 1rem 0 0 0;
    }

    .post_link_div {
        display: none;
    }

    .blog_form_bottom_buttons_and_progress {
        // padding: 3rem 0 3rem 2rem;
        width: 100%;
        padding: 2rem;

        .button_div_right {
            display: flex;
            justify-content: end;
            padding: 0 5rem 0 0;
        }

        .btn_custom {
            width: 10rem;
        }

        #Progress_Status {
            width: 50%;
            background-color: #ddd;
            // margin-left: 3rem;
            // padding:
        }

        #myprogressBar {
            /* Starting point of progress bar */
            width: 0;
            height: 20px;
            background-color: #4CAF50;
        }
    }

}

/* /manage_blogposts */
.manage_blogposts_page_super {

    display: flex;
    justify-content: center;

    .manage_blogposts_page {
        width: calc(100% - 15rem);

        a {
            color: var(--website_theme_font_color_a_dark);
        }

        a:hover {
            color: var(--website_theme_fun_color);
        }
    }

    .post_btn_div {
        display: flex;
        justify-content: end;
        padding: 2rem 2rem 0 0;

        a {
            width: 20rem;
        }
    }

    .admin_btn_div {
        display: flex;
        justify-content: end;
        padding: .5rem 2rem 2rem 0;

        a {
            width: 20rem;
        }
    }

    .table_contents {
        font-size: .7em;
        background: var(--bs-primary);
        margin: 0 0 0 0;
        padding-top: 5px;
        border-color: var(--bs-secondary);
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
        width: 90%;
        // margin: 0 5% 0 5%;
        padding: 2% 2% 0 2%;

        .table_custom {
            // width:90%;
            padding: 0 5% 0 5%;
            // margin: 0 5% 0 5%;


        }

    }

    .dash_id_button:hover {
        background: #E54E4E;
        background-size: contain;
        padding: 3px 7px 5px;
        top: -5px;
        right: -5px;
    }

    //Below are bootstrap table row attritbutes for non id columns
    // table td{
    //     background-color: var(--bs-gray-700);
    // }

    //ISN"T Working But Might with some reserach
    //Below are bootstrap table row attritbutes for id column ODDs
    // table.dataTable.display tbody tr.odd>.sorting_1,table.dataTable.order-column.stripe tbody tr.odd>.sorting_1{background-color:#f1f1f1}
    table.dataTable.display tbody tr.odd>.sorting_1,
    table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
        background-color: var(--bs-cyan)
    }

    //Below are bootstrap table row attritbutes for id column EVENS
    // table.dataTable.order-column tbody tr>.sorting_1,table.dataTable.order-column tbody tr>.sorting_2,table.dataTable.order-column tbody tr>.sorting_3,table.dataTable.display tbody tr>.sorting_1,table.dataTable.display tbody tr>.sorting_2,table.dataTable.display tbody tr>.sorting_3{background-color:#fafafa}
    table.dataTable.order-column tbody tr>.sorting_1,
    table.dataTable.order-column tbody tr>.sorting_2,
    table.dataTable.order-column tbody tr>.sorting_3,
    table.dataTable.display tbody tr>.sorting_1,
    table.dataTable.display tbody tr>.sorting_2,
    table.dataTable.display tbody tr>.sorting_3 {
        background-color: var(--bs-success)
    }

}

/*Blog Post Edit*/
//This is from Blog Post
.edit_post_page {
    // padding: var(--nav-height) 0 60px 30px;
    // background-color: red;
    width: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: center;

    a {
        color: var(--website_theme_font_color_a_dark);
    }

    a:hover {
        color: var(--website_theme_fun_color);
    }

    .col_1 {
        width: calc(100% - 5rem);
        // width:80%;
        border: 1px solid;
        // margin: 0; padding: 0;
        border-radius: 1rem;
        background-color: var(--bs-gray-500);
        // margin: 2% 5% 2% 0;
        padding: 2rem;

        .blog_form_sub_top {
            padding: 20px 0 50px 5%;

            .input_custom {
                width: 95%;
            }

            // .textarea_custom{width: 95%;}
            .blog_form_input_div {
                min-width: 150px;
                max-width: 80%;
            }
        }

        .button_div_right {
            display: flex;
            justify-content: end;
            padding: 3rem 3rem 0 0;
        }

        .gray_input {
            background-color: var(--bs-gray-500);
        }

    }
}


/*Blog Index */
.blogpost_index_page {
    // padding: var(--nav-height) 0 0 0;
    display: flex;
    justify-content: center;
    width:100%;


    .blogpost_index_page_sub {
        width: calc(100% - 1rem);
        padding-top: 1rem;

    }

    .blogpost_page_title {
        width: 100%;
        color: var(--color-gray-text);
    }

    a {
        text-decoration: none;
        color: var(--website_theme_font_color_light);
    }

    a:hover {
        // font-size: 1.25rem;
        // color: var(--bs-orange);
        color: var(--website_theme_fun_color);
        border: none;
    }


    .blogpost {
        display:flex;

        width: 100%;
        border: .5rem solid transparent;
        border-radius: 1rem;
        // padding: .5rem;
        // background-color: var(--bs-gray-400);
        // background-color: var(--bs-primary);
        background-color: var(--color-gray04);


        a {
            text-decoration: none;
            color: var(--website_theme_fun_color);
        }
    }

    .blogpost:hover {
        // border: .5rem solid var(--bs-gray-200);
        background-color: var(--bs-gray-400);
    }

    .right_side{
        max-width:25%;
        // background-color: #4CAF50;
    }


    .blogpost_title {
        font-size: x-large;
        // background-color: aquamarine;

    }

    .blogpost_date {
        color: var(--color-gray05);
        text-align: right;
        // background-color: antiquewhite;
    }

    .blogpost_description {
        // color: var(--website_theme_font_color_a_light);
        display:none;
    }

    .blogpost_image {
        // background-color: #E54E4E;
        display: flex;
        justify-content: center;
        width:100%;

        img {
            // max-width: 8rem;
            max-height:5rem;
            width:100%;
        }
    }

    .blogpost_divder_super {
        display: flex;
        align-items: center;
        justify-content: center;
        // gap:1rem;
        padding: 1rem 0;
        // background-color: #4CAF50;
    }

    .blogpost_divder {
        display: flex;
        align-items: center;
        justify-content: center;
        // gap:1rem;
        padding: 1rem 0;
        // width:50%;
        // background-color: #E54E4E;
        // width: 50%;
        width: 100%;

    }

    .blogpost_divder .line {
        background-color: var(--color-gray04);
        /* Line color */
        // background-color: black; /* Line color */
        height: 1px;
        /* Line thickness */
        // flex-grow: 1;
        // margin: 0 10px;
        width: 50%;
    }

}


.view_post_super {
    color: var(--website_theme_font_color_dark);
}


@media screen and (min-width: 768px) {

    .view_post_super {
        // background-color: red;
        .view_post {
            width: calc(100% - 10rem);
        }
    }

    .blogpost_index_page {


        // .blogpost_index_page_sub {
        //     width: calc(100% - 1rem);
        //     padding-top: 1rem;
    
        // }

        .blogpost_index_page_sub{
            display:flex;
            justify-content: center;
            // // width:100%;
            // background-color: rebeccapurple;
        }
        .col_1{
            max-width: 60rem;
            // background-color: #4CAF50;
        }
        .blogpost {
            width:100%;
            display:flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            min-height: 10rem;
            padding:1rem;
        }

        .left_side, .right_side{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .right_side{
            max-width:6rem;
            max-height: 6rem;
            img{
                height:auto;
                width:100%;
            }
            justify-content: space-between;
        }
        .blogpost_title{
            // background-color: aqua;
            width:100%;
        }
        .blogpost_description {
            display:inline;
            color: var(--website_theme_font_color_a_light);
            width:100%;
            // height:min-content;
            // background-color: #E54E4E;
        }

    }
}

