.navbar_top {
    background-color: #333;
    color: white;
}
#hamburger {
    font-size: 24px;
    cursor: pointer;
}
.div_hamburger{
    padding: .5rem 0 .5rem 2rem;

    button{
        background-color: transparent;
        border:none;
        size:1.5rem;
        color:var(--color-gray02);
    }
}
.div_close{
    display:flex;
    justify-content: end;
    width:100%;
}
#navbar_side {
    z-index: 2; /* Ensures sidebar is above the overlay */
}
.navbar_side a{
    color: #bababa;
}
.navbar_side a:hover {
    background-color: var(--color-blue);
    border-radius: 2rem;
}
.navbar_side_hidden {
    width: var(--nav-width);
    height: 100%;
    position: fixed;
    top: 0;
    left: calc(var(--nav-width) * -1);
    height: 100vh;
    background: var(--color-blue-sidenav);
    transition: all .5s ease;
}
.navbar_side_wide{display:none}
/* Shown styles for the side navbar */
.navbar_side_visible {
    left: 0;
}
/* Styling for the links in your side navbar */
.navbar_side_hidden a {
    padding: .5rem;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}
.div_logo{
    width: 100%;
    padding:1rem 0 1rem 3rem;
    img{
        width: 10rem;
    }
}
.navbar_list ul{
    list-style: none;
}
.navbar_list ul li i {
    padding-right: 1rem;
}
.li_manage_blogpost{
    a{
        color:var(--color-yellow);
    }
}
.li_manage_blogpost_font{
    font-size:large;
}

#overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensures it's above other content but below the sidebar */
}
/* Overlay Visible */
#overlay.visible {
    display: block;
}
@media screen and (min-width: 768px) {
    .navbar_top{display:none}
    .navbar_side_hidden{display:none;}
    .navbar_side_wide{
        display:block;
        flex-grow: 0;  /* Don’t grow beyond initial size */
        flex-shrink: 0;  /* Don’t shrink below initial size */
        width: var(--nav-width);  /* Or whatever width you desire */
        min-height: 100vh;
        background: var(--color-blue-sidenav);
    }
    .navbar_side_wide a {
        padding: .5rem;
        text-decoration: none;
        font-size: 25px;
        display: block;
    }
    .div_logo{
        padding:4rem 0 1rem 3rem;
    }
}