.navbar_top {
    background-color: #333;
    color: white;
}
#hamburger {
    font-size: 24px;
    cursor: pointer;
}
.div_hamburger{
    padding: .5rem 0 .5rem 2rem;
    button{
        background-color: transparent;
        border:none;
        size:1.5rem;
    }
}



#navbar_side {
    z-index: 2; /* Ensures sidebar is above the overlay */
}
.navbar_side_hidden {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    background: var(--color-dark);
    transition: all .5s ease;
    a{
        // color: var(--color-white);
        color: #bababa;
    }
}
.navbar_side_wide{display:none}
/* Shown styles for the side navbar */
.navbar_side_visible {
    left: 0;
}
/* Styling for the links in your side navbar */
.navbar_side_hidden a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    // color: var(--color-white);
    display: block;
    transition: 0.3s;
}
.navbar_side_hidden a:hover {
    // color: #f1f1f1;
    background-color: var(--color-blue);
    border-radius: 2rem;
}

.div_logo{
    width: 100%;
    padding:4rem 0 1rem 3rem;
    img{
        width: 10rem;
    }
}



#overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensures it's above other content but below the sidebar */
}
/* Overlay Visible */
#overlay.visible {
    display: block;
}
@media screen and (min-width: 768px) {
    .navbar_top{display:none}
    .navbar_side_hidden{display:none;}
    .navbar_side_wide{
        display:block;
        flex-grow: 0;  /* Don’t grow beyond initial size */
        flex-shrink: 0;  /* Don’t shrink below initial size */
        width: 250px;  /* Or whatever width you desire */
        height: 100%;
        // position: fixed;
        // top: 0;
        // left: -250px;
        height: 100vh;
        background: var(--color-dark);
    }
    .navbar_side_wide a {



        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        // color: var(--color-white);
        display: block;
        // transition: 0.3s;
    }
}