.main_support{
    background-color: gray;
    height:100hv;
}
.openmindset_page{
    a{color:rgb(199, 199, 199)}
    input{
        background-color: aquamarine;
    }
    textarea{
        background-color: aqua;
    }
}