@use "navbar";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --nav-height: 123px;
    --color-dark: #000814;
    --color-blue-dark: #001D3D;
    // --color-blue: #003566;
    --color-blue: #3C3C5B;
    --color-yellow: #FFC300;
    --color-white: #FFFFFF;
    --color_gray_test_01:#b1afaf;

  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{background-color: var(--color-blue)}
.main{
    // background-color: aqua;
    height:100vh;
}
.pages_page{
    background-color: orange;
    height:100%;
}

.main_super{
    flex-grow: 1;  /* Grow and take up any extra space */
    flex-shrink: 1;  /* Can shrink if needed */
    padding: .5rem;
    display:flex;
    // background-color: aquamarine;
    width:100%
}
.home_page {
    display: flex;
    justify-content: space-between;
    // background-color: green;
    // width:100%;
    flex:1;
    gap:1rem;

    .col_1, .col_2 {
        // width: 48%;
        padding: .5rem;  /* optional: for some space inside the columns */
        flex:1;
        background-color: var(--color_gray_test_01);
    }
    

    .s_text_color_yellow{color:var(--color-yellow)}
}






@media screen and (min-width: 768px) {
    .div_fixed_nav_and_main {
        display: flex;
        height: 100vh;  /* Optional: Takes the full height of the viewport */
    }
    
    // .main_super {
    //     // flex-grow: 1;  /* Grow and take up any extra space */
    //     // flex-shrink: 1;  /* Can shrink if needed */
    // }
}