@use "navbar";
@use "buttons";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --nav-height: 123px;
    --nav-width: 300px;
    --color-dark: #000814;
    --color-blue-dark: #001D3D;
    --color-blue: #3C3C5B;
    --color-yellow: #FFC300;
    --color-white: #FFFFFF;
    --color-light-blue-button: #565481;
    --color-gray01-light: #d1d1d1;
    --color-gray02: #bfbfbf;
    --color-gray03: #a0a0a0;
    --color-gray04: #808080;
    --color-gray-text:var(--color-gray01-light);
    --color_gray_test_01:#898989;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{background-color: var(--color-blue)}
body, html {
    height: 100%;
    margin: 0;
}
// .main{
//     // background-color: aqua;
//     height:100vh;
// }
.pages_page{
    background-color: orange;
    height:100%;
}


.main_super{
    flex-grow: 1;  /* Grow and take up any extra space */
    flex-shrink: 1;  /* Can shrink if needed */
    padding: .5rem;
    display:flex;
    // background-color: aquamarine;
    width:100%;
    justify-content: center;
}
.home_page {
    display: flex;
    gap:1rem;
    flex-wrap: wrap;

    .col_1, .col_2 {
        display:flex;
        justify-content: center;
        color:var(--color-gray-text);
        width:100%;
    }
    .col_1_sub{
        width: 80%;
        height:fit-content;
    }
    
    .s_text_color_yellow{color:var(--color-yellow)}
    .div_hi_big{width:100%}
    .div_welcome{
        width:100%;
        color: var(--color_gray_test_01)
    }
    .paragraph_home_super{padding-top:5rem;}
    .paragraph_home{
        padding: .5rem 0;
    }

    .div_email{
        width:100%;
        display: flex;
        justify-content: center;
        padding: 1rem 0;
    }
    .hr_or_hr{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:1rem;
        padding:1rem 0;
    }
    .hr_or_hr .line {
        background-color: var(--color-gray02); /* Line color */
        height: 1px; /* Line thickness */
        flex-grow: 1;
        // margin: 0 10px;
      }
      
    .hr_or_hr .or {
        padding: 0 10px;
        white-space: nowrap;
      }
    .other_contact{
        display:flex;
        justify-content: center;
        gap:1rem;
    }
}

.about_page{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;

    .col_1, .col_2 {
        display:flex;
        justify-content: center;
        color:var(--color-gray-text);
        width:100%;
    }
    .col_1_sub, .col_2_sub{
        display:flex;
        flex-wrap:wrap;
        width: 80%;
        height:fit-content;
        justify-content: center;
        // background-color: var(--color_gray_test_01);
    }
    .div_image_of_me{
        // background-color: var(--color_gray_test_01);
        width: 100%;
        justify-content: center;
        display: flex;

    }
    .img_montmarte{
        width:60%;
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    }
    .other_contact{
        padding:3rem 0;
        width:60%;
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        gap:1rem;
    }
    .s_text_color_yellow{color:var(--color-yellow)}
    .div_hi_big{width:100%}
    // .div_welcome{
    //     width:100%;
    //     color: var(--color_gray_test_01)
    // }
    .paragraph_home_super{padding-top:5rem;}
    .paragraph_home{
        padding: .5rem 0;
    }
}

.resume_page{
    color:var(--color-gray-text);
    // .div_top_personal_info{
    //     display: flex;
    // }
    .div_name{
        display: flex;
        color:var(--color-gray04);
        h1{padding-right:3rem;}
        // a{padding-left:3rem;}
    
    }
    .div_skills{
        background-color: var(--color-gray04);
        border-radius: .3rem;
        padding:.5rem
    }
    .s_text_color_yellow{color:rgb(54, 54, 54)}

    .div_contact_detail_item{
        display:flex;
        align-items: center;
        a {
            text-decoration: none;
            color:var(--color-gray-text);
        }
        a:hover{
            color:var(--color-dark);
            background-color: #d1d1d1;
            border-radius: 3rem;
            padding:.25rem .5rem;
            i{
                // width:200%;
                transform: scale(1.5); /* Increase the size by 20% on hover */
            }
        }
    }
    // .div_contact_detail_item_icon{
        

    // }
    .div_contact_detail_item_text{
        padding-left:.75rem;
        
        white-space: nowrap;
    }

    .div_projects a {
        color:var(--color-gray04);
    }
    .div_project{padding:1rem 0;}
    .title{
        a{
            text-decoration: none;
            color:var(--color-yellow)
        }
    }
    .div_project_other_details{
        a{ text-decoration: none;}
    }
    .div_experience{padding:1rem 0}
    .company_title{font-size: larger;}

}



@media screen and (min-width: 768px) {
    .div_fixed_nav_and_main {
        display: flex;
        // height: 100vh;  /* Optional: Takes the full height of the viewport */
    }
    .home_page, .about_page {
        justify-content: space-between;
        flex:1;
        flex-wrap: nowrap;
        .col_1, .col_2 {
            flex:1;
            align-items: center;
        }
    }
    .resume_page{
        // padding:3rem;
        max-width: 70rem;
        .div_top_personal_info{
            display: flex;
            gap:1rem;
        }
        .div_company_title_dates, .div_education_sub{
            display:flex;
            justify-content: space-between;
        }
        .div_education{padding-bottom:5rem;}
    }


}