@use "navbar";
@use "buttons";
@use "users";
@use "blog";
@use "main";
@use "support";
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet');

:root {
    --nav-height: 123px;
    --nav-width: 300px;
    

    /* Color Palette 2024-04-18 */
    --base-background: #333333;// menu
    --secondary-background: #4D4D4D;// base
    --tertiary-background: #2B2B2B;// buttons
    --primary-text: #E0E0E0;
    --text-icons: #CCCCCC;
    --hightlights: #FFC300;
    --hyperlinks-primary:var(--hightlights);
    --tw-text-opacity: .7;
    --hyperlinks-secondary: rgb(29 255 158 / var(--tw-text-opacity));

  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Poppins', sans-serif;
    // font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
html body{background-color: var(--secondary-background)}

.flex_center{
  display: flex;
  justify-content: center;
}
.flash_and_main{
  display:flex;
  flex-wrap: wrap;
  width:100%;
  flex-direction: column;
}
/* Flash */
.flash_custom_parent {
  width:100%;
  max-height:0rem;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto; /* or 0 */
  .alert_custom {
    width: 100%;
    .close_right {
      float: right;
      margin-top: -2rem;
    }
  }
  .keep_line_break{
    white-space: pre-line;
  }
}
.main_super{
  flex-grow: 2; /* or more, to ensure it takes up more space */
  flex-shrink: 1;
  flex-basis: auto; /* adjust as needed */
  padding: .5rem;
  display:flex;
  width:100%;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .div_fixed_nav_and_main {
      display: flex;
      // height: 100vh;  /* Optional: Takes the full height of the viewport */
  }
}


