@use "navbar";
@use "buttons";
@use "users";
// @use "other_elements";
@use "blog";
@use "main";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --nav-height: 123px;
    --nav-width: 300px;
    // --color-dark: #000814;// original dark
    --color-dark: #003366;
    // --color-blue-dark: #001D3D;// original 2nd darkest
    --color-blue-dark: #00509E;
    // --color-blue: #3C3C5B;// original 3rd darkest
    --color-blue: #0072BC;
    //--color-blue-sidenav: #29283E;// original sidbar
    --color-blue-sidenav: var(--color-dark);
    --color-yellow: #FFC300;
    --color-white: #FFFFFF;
    // --color-light-blue-button: #565481;// original button
    --color-light-blue-button: var(--color-blue);
    --color-gray01-light: #d1d1d1;
    --color-gray02: #bfbfbf;
    --color-gray03: #a0a0a0;
    --color-gray04: #808080;
    --color-gray05: #212121;
    --color-gray-text:var(--color-gray01-light);
    --color-dark-gray-text:var(--color-gray05);
    --color_gray_test_01:#898989;
    --color-gray-text-title:var(--color-gray01-light);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html body{background-color: var(--color-blue-dark)}

.flex_center{
  display: flex;
  justify-content: center;
}
  
.main_super{
    flex-grow: 1;  /* Grow and take up any extra space */
    flex-shrink: 1;  /* Can shrink if needed */
    padding: .5rem;
    display:flex;
    // background-color: aquamarine;
    width:100%;
    justify-content: center;
}
.flash_and_main{
    display:flex;
    flex-wrap: wrap;
    width:100%;
}


/* Flash */
.flash_custom_parent {
    width:100%;
    .alert_custom {
      width: 100%;
      .close_right {
        float: right;
        margin-top: -2rem;
      }
    }
    .keep_line_break{
      white-space: pre-line;
    }
  }


