@use "navbar";
@use "buttons";
@use "users";
// @use "other_elements";
@use "blog";
@use "main";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --nav-height: 123px;
    --nav-width: 300px;
    
    /* Best Buy Colors */
    --color-dark: #003366;// bestbuy
    --color-blue-dark: #00509E;//bestbuy
    --color-blue: #0072BC;//bestbuy
    --color-blue-sidenav: var(--color-dark);//bustbuy

    /* Stratis Colors */
    // --color-dark: #000814;// original dark
    // --color-blue-dark: #001D3D;// original 2nd darkest
    // --color-blue: #3C3C5B;// original 3rd darkest
    // --color-blue-sidenav: #29283E;// original sidbar

    --color-yellow: #FFC300;
    --color-white: #FFFFFF;
    // --color-light-blue-button: #565481;// original button
    --color-light-blue-button: var(--color-blue);
    --color-gray01-light: #d1d1d1;
    --color-gray02: #bfbfbf;
    --color-gray03: #a0a0a0;
    --color-gray04: #808080;
    --color-gray05: #212121;
    --color-gray-text:var(--color-gray01-light);
    --color-dark-gray-text:var(--color-gray05);
    --color_gray_test_01:#898989;
    --color-gray-text-title:var(--color-gray01-light);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html body{background-color: var(--color-blue-dark)}

.flex_center{
  display: flex;
  justify-content: center;
}
.flash_and_main{
  display:flex;
  flex-wrap: wrap;
  width:100%;
  flex-direction: column;
}
/* Flash */
.flash_custom_parent {
  width:100%;
  max-height:0rem;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto; /* or 0 */
  .alert_custom {
    width: 100%;
    .close_right {
      float: right;
      margin-top: -2rem;
    }
  }
  .keep_line_break{
    white-space: pre-line;
  }
}
.main_super{
  flex-grow: 2; /* or more, to ensure it takes up more space */
  flex-shrink: 1;
  flex-basis: auto; /* adjust as needed */
  padding: .5rem;
  display:flex;
  width:100%;
  justify-content: center;
}




