@use "navbar";
@use "buttons";
@use "users";
// @use "other_elements";
@use "blog";
@use "main";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --nav-height: 123px;
    --nav-width: 300px;
    --color-dark: #000814;
    --color-blue-dark: #001D3D;
    --color-blue: #3C3C5B;
    --color-yellow: #FFC300;
    --color-white: #FFFFFF;
    --color-light-blue-button: #565481;
    --color-gray01-light: #d1d1d1;
    --color-gray02: #bfbfbf;
    --color-gray03: #a0a0a0;
    --color-gray04: #808080;
    --color-gray-text:var(--color-gray01-light);
    --color_gray_test_01:#898989;
    --color-gray-text-title:var(--color-gray01-light);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html body{background-color: var(--color-blue)}

.flex_center{
  display: flex;
  justify-content: center;
}
  
.main_super{
    flex-grow: 1;  /* Grow and take up any extra space */
    flex-shrink: 1;  /* Can shrink if needed */
    padding: .5rem;
    display:flex;
    // background-color: aquamarine;
    width:100%;
    justify-content: center;
}
.flash_and_main{
    display:flex;
    flex-wrap: wrap;
    width:100%;
}


/* Flash */
.flash_custom_parent {
    width:100%;
    .alert_custom {
      width: 100%;
      .close_right {
        float: right;
        margin-top: -2rem;
      }
    }
    .keep_line_break{
      white-space: pre-line;
    }
  }

//   /* Base alert class */
// .alert {
//     padding: 0.75rem 1.25rem;
//     margin-bottom: 1rem;
//     border: 1px solid transparent;
//     border-radius: 0.25rem;
//     font-size: 1rem;
//     line-height: 1.5;
//     position: relative;
//     box-sizing: border-box;
// }

// /* Different alert types */
// .alert-primary {
//     color: #004085;
//     background-color: #cce5ff;
//     border-color: #b8daff;
// }

// .alert-secondary {
//     color: #383d41;
//     background-color: #e2e3e5;
//     border-color: #d6d8db;
// }

// .alert-success {
//     color: #155724;
//     background-color: #d4edda;
//     border-color: #c3e6cb;
// }

// .alert-danger {
//     color: #721c24;
//     background-color: #f8d7da;
//     border-color: #f5c6cb;
// }

// .alert-warning {
//     color: #856404;
//     background-color: #fff3cd;
//     border-color: #ffeeba;
// }

// .alert-info {
//     color: #0c5460;
//     background-color: #d1ecf1;
//     border-color: #bee5eb;
// }

// .alert-light {
//     color: #818182;
//     background-color: #fefefe;
//     border-color: #fdfdfe;
// }

// .alert-dark {
//     color: #1b1e21;
//     background-color: #d6d8d9;
//     border-color: #c6c8ca;
// }

// /* Optional: For closable alerts */
// .close {
//     position: absolute;
//     top: 0.5rem;
//     right: 1rem;
//     color: inherit;
//     background-color: transparent;
//     border: 0;
//     cursor: pointer;
// }

// .close:hover {
//     color: #000;
//     text-decoration: none;
// }
