{% extends "_layout_support.html" %}
{% block main %}


<div class="main_super">

    <div class="openmindset_page">
        <div class="col_1">
        <div class="div_right">
            <a href="{{ url_for('bp_support.openmindset_about') }}">About Open Mindset</a>
        </div>

        <br>

        <div class="title_div">
            <img class="img_openmindset" src="{{ url_for('bp_main.website_files', filename='iconOpenMindset.png')}}" />
            <h1>Open Mindset Support Page</h1>
        </div>
        <div class="paragraph_div">
            Message direct to creators of Open Mindset or join the
            <a href="https://discord.gg/T3XMu8Kf">Discord Open Mindset chat room </a>
            and share your question.
        </div>

        <form method="POST" id="send_message_form" enctype=multipart/form-data action="{{ url_for('bp_support.send_me_a_message') }}">
        <div class="contact_form_div">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control" form="send_message_form"><br />
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" form="send_message_form"><br />
            <div class="textarea_custom_div">
                <label for="message">Message</label>
                <textarea class="textarea_custom form-control" name="message" id="message" cols="30" rows="10"
                    form="send_message_form"></textarea>
            </div>

            <br />
            <div class="submit_div">
                <!-- <input type="submit" class="send-message-cta bg-info" value="Send Message"> -->
                <button type="submit" class="g-recaptcha btn btn-primary" data-sitekey="{{ site_key }}"
                    data-callback='onSubmit' data-action='submit' form="send_message_form">Send</button>
            </div>
        </div>
    </form>

        </div><!-- col_1-->
    </div><!-- openmindset_page -->
</div><!-- main_super -->

{% endblock %}