{% extends "_layout_support.html" %}
{% block main %}

<div class="main_super">

    <div class="whatsticks_page">
        <div class="col_1">

            <div class="video-container">
                <video controls>
                    <source src="{{ url_for('bp_main.website_files', filename='wsStepsDash02_vertical.mp4')}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>

        </div><!-- col_1 -->
    </div><!-- openmindset_page -->
</div><!-- main_super -->

{% endblock %}